@media only screen and (max-width: 1390px) {
    .section {
        width: 1220px;
        height: 1030px;
    }
    .block {
        width: 220px;
        height: 220px;
    }
    .block2 {
        margin-left: 6.5px;
        width: 395px;
    }
    .textblock2 {
        font-size: 20px;
    }
    .sub {
        margin-left: 118.1px;
    }
    .like {
        margin-left: 159px;
    }
    .pack {
        margin-left: 65px;
    }
    .textfooter {
        margin-left: 460.2px;
        font-size: 26px;
    }
]
    

@media only screen and (max-width: 1360px) {
    .block {
        width: 250px;
        height: 250px;
        margin-bottom: 50px;
    }
    .block2 {
        width: 426px;
        margin-left: 14px;
    }
}

@media only screen and (max-width: 1024px) {
    .section {
        width: 850px;
    }    
    .block {
        width: 152px;
        height: 152px;
        background-color: brown;
        margin-bottom: 30px;
    }
    .block2 {
        width: 500px;
        margin-top: 20px;
        margin-left: 175px;
}
    .one {
        margin-top: 0px;
}
    .sub {
        margin-left: 170.5px;
    }
    .like {
        margin-left: 211.5px;
    }
    .pack {
        margin-left: 117.5px;
    }
    .textfooter {
        margin-left: 280px;
        font-size: 25px;
    }
    
}
    
    
@media only screen and (max-width: 768px) {
    .section {
        width: 600px;  
    } 
    .block {
        width: 100px;
        height: 100px;
        background-color: brown;
        margin-left: 13px;
    }
    .block2 {
        margin-left: 50px;
}
    .textfooter {
        margin-left: 160px;
    }
    .teleg {
        width: 28px;
        height: 28px;
}
   
}

@media only screen and (max-width: 480px) {
    .section {
        width: 410px;
    }
    .block {
        width: 230px;
        height: 200px;
        margin-left: 95px;
        margin-top: 20px;
        display: flex;
}
    .block2 {
        margin-left: 0;
        width: 410px;
}
    a {
        font-size: 21px;
    }
    .batton {
        width: 180px;
}
    .one2 {
        margin-top: 30px;
}
    .textblock2 {
        font-size: 25px;
    }
    .sub {
        margin-left: 108.25px;
    }
    .like {
        margin-left: 158px;
    }
    .pack {
        margin-left: 44px;
    }
    .textfooter {
        margin-left: 85px;
        font-size: 20px;
    }
    .teleg {
    margin: -4px 75px 0 0;
        float: right;
        height: 28px;
        width: 25px;
    }
    .What {
        margin-top: -4px;
        height: 30px;
        margin-right: 10px;
        float: right;
    }
    .door {
        margin-top: -15px;
       
    }
}

@media only screen and (max-width: 360px) {
    .section {width: 320px;}
    
    a {font-size: 12px; color: aliceblue;}
    .block {
        margin-left: 45px;
    }
    .block2 {
        width: 316px;
}
    .block:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
    .batton {
        width: 130px;
    }
    
    .logo {
        width: 180px;
    }
    .textblock2 {
        font-size: 18px;
    }
    .sub {
        margin-left: 85.5px;
    }
    .like {
        margin-left: 123px;
    }
    .pack {
        margin-left: 36.75px;
    }
    .textfooter {
        margin-top: 0px;
        margin-left: 45px;
        font-size: 18px;
    }
    .What {
        width: 26px;
        height: 26px;
    }
    .teleg {
        margin-right: 40px;
        width: 24px;
        height: 24px;
        margin-bottom: px;
    }
}





