@media only screen and (max-width: 1024px) {
    .section {
        width: 850px;
    }    
    .block {
        width: 152px;
        height: 152px;
        background-color: brown;
    }
}


@media only screen and (max-width: 768px) {
    .section {
        width: 600px;  
    } 
    .block {
        width: 100px;
        height: 100px;
        background-color: brown;
        margin-left: 13px;
    }
}

@media only screen and (max-width: 480px) {
    .section {
        width: 400px;
    }
    .block {
        width: 230px;
        height: 200px;
        margin-left: 80px;
        margin-top: 20px;
        display: flex;
}
}

@media only screen and (max-width: 360px) {
    .section {width: 320px;}
    
    a {font-size: 15px; color: chartreuse;}
    .block {
        margin-left: 40px;
        
    }

}





