body {
background-color: #000;
background-image: url(../imges/backg.jpg);
background-position: center center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
}